{% extends 'base.html' %}


{% block content %}

<style type="text/css">

    .container{
        margin: 20px;
        padding: 20px;
    }
</style>

<div class="container">
    <form method="POST" class="form-control">{% csrf_token %}

        
        <label for="Username">{{form.username.label}}</label><br>
        {{form.username}}

        </br>
        </br>
        {{form.email.label}}
        </br>
        
        {{form.email}}
        </br>
        </br>
        
        {{form.password1.label}}
        </br>
        {{form.password1}}
        </br>
        </br>
        {{form.password2.label}}
        </br>
        {{form.password2}}
        </br>
        </br> 
        <button type="submit" class="btn btn-primary">Sign in</button>

    </form>
    <div class="border-top pt-3 ">
        <small class="text-muted ">
            Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>

{% endblock content %}